{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Créer un nouveau épisode</h1>

    <div class="container">
        {{ include('episode/_form.html.twig') }}
        <a class="btn btn-dark btn-sm"href="{{ path('episode_index') }}">Retour à la liste d'épisode</a>
    </div>


{% endblock %}
