{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Créer un nouveau programme</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}" style="color: steelblue">Retour à la liste</a>
{% endblock %}
