
{% block nav %}
    <header>
        <nav class="textenav navbar navbar-dark navbar-expand-lg bg-primary">
            <a class="navbar-brand text-white" href="/home">Wild Series</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/program">Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Film</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Communauté</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock  %}